In [1]:
pip install census

Requirement already satisfied: census in c:\users\yhuan\anaconda3\lib\site-packages (0.8.18)
Requirement already satisfied: requests>=1.1.0 in c:\users\yhuan\anaconda3\lib\site-packages (from census) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yhuan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\yhuan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\yhuan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yhuan\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import pprint
import json
from census import Census
from config import api_key

In [56]:
# Example Call:
# api.census.gov/data/2021/pep/population?get=DENSITY_2021,POP_2021,NAME,STATE&for=region:*&key=YOUR_KEY
# url= "https://api.census.gov/data/2021/pep/population?get=NAME,POP,STATE&for=state:13"
# url = f"https://api.census.gov/data/2019/pep/charagegroups?get=NAME,STATE&for=state:*"
url = f"https://api.census.gov/data/2021/pep/population?get=DENSITY_2021,POP_2021,NAME,STATE&for=state:*"
response = requests.get(url, headers = {"content-type":"application/json"})
# print(json.dumps(response, indent=4, sort_keys=True))
pd.DataFrame(response.json()[1:], columns = response.json()[0])

        DENSITY_2021  POP_2021                  NAME STATE state
0      58.1171593930   3986639              Oklahoma    40    40
1      25.5629643700   1963692              Nebraska    31    31
2     224.4561379100   1441553                Hawaii    15    15
3      11.8108489860    895376          South Dakota    46    46
4     169.1679021400   6975218             Tennessee    47    47
5      28.6180620940   3143991                Nevada    32    32
6      17.4415070270   2115877            New Mexico    35    35
7      57.1690084670   3193079                  Iowa    19    19
8      35.8932536190   2934582                Kansas    20    20
9   10961.8457220000    670050  District of Columbia    11    11
10    113.0182013800  29527941                 Texas    48    48
11     89.7235035990   6168187              Missouri    29    29
12     58.1946786180   3025891              Arkansas    05    05
13    177.5519359400  10050811              Michigan    26    26
14    155.1295034800   1388992         New Hampshire    33    33
15    216.9997170300  10551162        North Carolina    37    37
16    288.3098172500  11780017                  Ohio    39    39
17    172.6534487600   5190705        South Carolina    45    45
18      5.9615893092    578803               Wyoming    56    56
19    251.7543622300  39237836            California    06    06
20     11.2318039020    774948          North Dakota    38    38
21    107.0103594900   4624047             Louisiana    22    22
22    634.8490376000   6165129              Maryland    24    24
23    514.9386202900   1003384              Delaware    10    10
24    289.7497855300  12964056          Pennsylvania    42    42
25    187.1125852300  10799566               Georgia    13    13
26     44.2326782730   4246155                Oregon    41    41
27     71.6770073090   5707390             Minnesota    27    27
28     56.0814214470   5812069              Colorado    08    08
29   1260.0290755000   9267130            New Jersey    34    34
30    114.1864679600   4509394              Kentucky    21    21
31    116.4497094300   7738692            Washington    53    53
32     44.4882874010   1372247                 Maine    23    23
33     70.0378118040    645570               Vermont    50    50
34     23.0010226010   1900923                 Idaho    16    16
35    189.9735779500   6805985               Indiana    18    18
36      7.5868654853   1104271               Montana    30    30
37    420.9359600800  19835913              New York    36    36
38              None   3263584           Puerto Rico    72    72
39    744.5569910400   3605597           Connecticut    09    09
40    405.9804181900  21781128               Florida    12    12
41    218.8905118900   8642274              Virginia    51    51
42    895.3695301300   6984723         Massachusetts    25    25
43    228.2588546000  12671469              Illinois    17    17
44     62.8669463950   2949965           Mississippi    28    28
45     64.0221138030   7276316               Arizona    04    04
46     40.5207956030   3337975                  Utah    49    49
47    108.8461550200   5895908             Wisconsin    55    55
48     99.5099129150   5039877               Alabama    01    01
49     74.1627628920   1782959         West Virginia    54    54
50   1059.6989939000   1095610          Rhode Island    44    44
51      1.2830925496    732673                Alaska    02    02

In [87]:
# api.census.gov/data/2021/pep/natmonthly?get=POP,NAME,MONTHLY&for=us:*&MONTHLY=4&key=YOUR_KEY
month_url = f"https://api.census.gov/data/2021/pep/natmonthly?get=POP,NAME,MONTHLY&for=us:*"
month_response = requests.get(month_url, headers = {"content-type":"application/json"})
# print(json.dumps(response, indent=4, sort_keys=True))
# pd.DataFrame(month_response.json()[1:], columns = month_response.json()[0])

month_response.json()

[['POP', 'NAME', 'MONTHLY', 'us'],
 ['331449281', 'United States', '2', '1'],
 ['331422430', 'United States', '3', '1'],
 ['331447040', 'United States', '4', '1'],
 ['331501080', 'United States', '5', '1'],
 ['331563067', 'United States', '6', '1'],
 ['331625760', 'United States', '7', '1'],
 ['331700608', 'United States', '8', '1'],
 ['331751104', 'United States', '9', '1'],
 ['331753003', 'United States', '10', '1'],
 ['331696751', 'United States', '11', '1'],
 ['331703870', 'United States', '12', '1'],
 ['331712214', 'United States', '13', '1'],
 ['331708842', 'United States', '14', '1'],
 ['331729123', 'United States', '15', '1'],
 ['331798261', 'United States', '16', '1'],
 ['331893745', 'United States', '17', '1'],
 ['331997142', 'United States', '18', '1'],
 ['332100018', 'United States', '19', '1'],
 ['332211826', 'United States', '20', '1'],
 ['332319775', 'United States', '21', '1'],
 ['332382832', 'United States', '22', '1'],
 ['332403650', 'United States', '23', '1'],
 ['332471147', 'United States', '24', '1'],
 ['332535856', 'United States', '25', '1'],
 ['332595523', 'United States', '26', '1'],
 ['332637844', 'United States', '27', '1'],
 ['332725203', 'United States', '28', '1'],
 ['332838183', 'United States', '29', '1'],
 ['332941581', 'United States', '30', '1'],
 ['333044456', 'United States', '31', '1'],
 ['333156263', 'United States', '32', '1'],
 ['333264212', 'United States', '33', '1'],
 ['333327270', 'United States', '34', '1']]